<h1><a href="/">Køkken</a></h1>

<nav>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/recipes/">Recipes</a></li>
    <li><a href="/smoke/">Smoke Guides</a></li>
    <li><a href="/tags/">Tags</a></li>
  </ul>
</nav>
