{% extends "layouts/base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h2>Recipes</h2>

<ul>
  {% for recipe in collections.recipes %}
    <li>
      <a href="{{ recipe.url }}">{{ recipe.data.title }}</a>
    </li>
  {% endfor %}
</ul>

<h2>Smoke Guides</h2>

<ul>
  {% for post in collections.smoke %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ul>

<h2>Tags</h2>

<ul>
  {% for tag in collections.tagList %}
    <li><a href="/tags/{{ tag | slug }}/">{{ tag }}</a></li>
  {% endfor %}
</ul>
  
{% endblock %}
