{% extends "layouts/base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>Recipes</h1>

<ul>
   {% for recipe in collections.recipes %}
    <li>
      <a href="{{ recipe.url }}">{{ recipe.data.title }}</a>
    </li>
  {% endfor %}
</ul>
  
{% endblock %}

