<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Recipes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
   {% include "partials/nav.njk" %}
  <main>
    <article>
      <h1>{{ title }}</h1>

      {% if tags %}
        <p><strong>Tags:</strong>
          {% for tag in tags %}
            <a href="/tags/{{ tag | slug }}/" class="tag">{{ tag }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}

      {% if ingredients %}
        <h2>Ingredients</h2>
        {% for section in ingredients %}
          {% if section.section %}
            <h3>{{ section.section }}</h3>
          {% endif %}
          {% if section.items %}
            <ul>
              {% for item in section.items %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if steps %}
        <h2>Steps</h2>
        <ol>
          {% for step in steps %}
            <li>{{ step }}</li>
          {% endfor %}
        </ol>
      {% endif %}

      {% if references %}
        <h2>Related Recipes</h2>
        <ul>
          {% set referenceBase = {
  
          recipe: "/recipes/",
          smoke: "/smoke/"
          } %}

          {% for ref in references %}
          {% set path = referenceBase[ref.type] or "/" %}
            <li><a href="{{ path }}{{ ref.slug }}/">{{ ref.title }}</a></li>
          {% endfor %}


        </ul>
      {% endif %}
    </article>
  </main>
</body>
</html>
